.resume-download{
    margin-top: 2rem;
    background-color: #364ad9;
    border: none;
}

.resume-download:hover{
    background-color: #0023a0;
}

.vertical-timeline-element{    color: rgb(95, 94, 94) !important;
}

.vertical-timeline-element-content p{
    color: rgb(95, 94, 94) !important;
}

@media only screen and (min-width: 1170px){
    .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
        left: 138%;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content{
        margin-left: 20px;
    }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content .vertical-timeline-element-date, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content .vertical-timeline-element-date {
        right: 138%;
    }
    .vertical-timeline--two-columns .vertical-timeline-element-content::before {
        border-left-color: #f5f2f2;
    }
    .vertical-timeline--two-columns .vertical-timeline-element.vertical-timeline-element--right .vertical-timeline-element-content::before, .vertical-timeline--two-columns .vertical-timeline-element:nth-child(even):not(.vertical-timeline-element--left) .vertical-timeline-element-content::before{
        border-right-color: #f5f2f2;
    }
}

.vertical-timeline::before {
    background: -webkit-linear-gradient(45deg, rgb(2, 56, 251), rgb(239, 140, 62) 80%);
}

.vertical-timeline-element-content {
    background-color: #f5f2f2;

}

@media only screen and (min-width: 1170px) {
    .vertical-timeline-element-icon svg {
        height: 35px;
        margin-top: 10px;
        left: 10%;
        margin-left: 0;
    }
    .school-icon{
        margin-left: -4px !important;
    }
}

@media (max-width: 1169px) {
    .vertical-timeline-element-icon svg {
        margin-left: -23px;
        margin-top: 7px;
    }
    .school-icon{
        margin-left: -28px !important;
    }
}

.vertical-timeline-element-icon{
    box-shadow: none;
}

