.homepage-container{
    padding: .1rem 1rem;
}

.jumbotron{
    background-image: url("https://res.cloudinary.com/ychaiu/image/upload/v1554490659/portfolio_site/P1050418.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 !important;
    height: calc(100vh - (100px + 2rem))
}

.blurb{
    background-color: rgba(255, 255, 255, 40%);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 60% 0 0;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
}

@media (max-width: 450px) {
    .blurb {
        width:100%;
        position: relative;
        top: 0;
        transform: perspective(1px) translateY(0%);
    }
}