.homepage-container{
    padding: .1rem 1rem;
}

.jumbotron{
    background-image: url("https://res.cloudinary.com/ychaiu/image/upload/v1554490659/portfolio_site/P1050418.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0 !important;
    height: calc(100vh - (100px + 2rem))
}

.blurb{
    background-color: rgba(87, 87, 87, 0.3);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 60% 0 0;
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    font-family: 'Raleway', sans-serif;
    line-height: 2rem;
}

@media (max-width: 475px) {
    .blurb {
        width:100%;
        position: relative;
        top: 0;
        transform: perspective(1px) translateY(0%);
        letter-spacing: 0.4rem;
    }
}

@media (min-width: 1000px) {
    .blurb{
        margin-right: 62%;
        letter-spacing: 0.4rem;
        font-size: 1rem;
        margin-left: 4%;
    }
}

@media (min-width: 476px) and (max-width: 999px) {
    .blurb {
        letter-spacing: 0.2rem;
        font-size: 0.8rem;
    }
}

#greeting{
    font-weight: bold;
}